<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdminSide</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminPanelServlet</display-name>
    <servlet-name>AdminPanelServlet</servlet-name>
    <servlet-class>com.controller.AdminPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPanelServlet</servlet-name>
    <url-pattern>/AdminPanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeController</display-name>
    <servlet-name>employeeController</servlet-name>
    <servlet-class>com.controller.employeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeController</servlet-name>
    <url-pattern>/employeeController</url-pattern>
  </servlet-mapping>
  
</web-app>